{% extends "base.html" %}

{% block content %}
{% for item in job%}
<h2>Action # {{item.id}}</h2>
   <table class="table table-borderless">
  <thead>
    <tr class="table-active">
      <th scope="col">Title of activity</th>
      <th scope="col">Team leader</th>
      <th scope="col">Duration</th>
      <th scope="col">List of collaborators</th>
      <th scope="col">Is finished</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-success">{{item.job}}</td>
      <td class="table-success">{{item.team_leader}}</td>
      <td class="table-success">{{item.work_size}} hours</td>
      <td class="table-success">{{item.collaborators}}</td>
      {%if item.is_finished%}
        <td class="table-success">Is finished</td>
      {%else%}
        <td class="table-danger">Is not finished</td>
      {%endif%}
    </tr>
  {% if current_user.is_authenticated and (current_user == item.user or current_user.id == 1) %}
        <tr>
            <td>
            <a href="/jobs/{{ item.id }}" class="btn btn-warning">Изменить</a>
            </td>
            <td>
            <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
    {% endif %}
  </tbody>
</table>


{% endfor %}
{% endblock %}